<div class="container">
    <hr />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="Reset();">Create New</button><br /><br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Transaction Code
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th>
                    Subtotal
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody1"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 1000px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Item Form</h4>
            </div>
            <div class="modal-body">
                <form>
                    <h5>Transaction</h5>
                    <div class="form-group row">
                        <div class="hidden">
                            <label for="Id">Id</label>
                            <input type="text" id="Id" placeholder="Id" disabled="disabled" />
                        </div>
                        <div class="col-md-6">
                            <label for="TransactionCode">Transaction Code</label>
                            <input type="text" class="form-control" id="TransactionCode" placeholder="TransactionCode" />
                        </div>

                        <div class="hidden">
                            <label for="Id">Id</label>
                            <input type="text" id="Id" placeholder="Id" disabled="disabled" />
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-1 text-right">
                                <label for="Item">Item</label>
                            </div>
                            <select id="ProductItem" class="pc form-control" onchange="loadItem(this)">
                                <option>Select</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-1 text-right">
                                <label for="Price">Price</label>
                            </div>
                            <input type="text" class="form-control" id="Price" placeholder="0" />
                        </div>
                        <div class="col-md-1">
                            <div class="col-md-1 text-right">
                                <label for="Quantity">Qt</label>
                            </div>
                            <input type="text" class="form-control" id="Quantity" placeholder="0" />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label text-left">&nbsp;</label>
                            @*<input type="button" id="add" value="addList" style="width:80px" class="btn btn-success" />*@
                            <a href="" class="btn btn-block btn-success" id="AddList" style="width:80px">Add list</a>
                        </div>
                    </div>

                    <table id="detailsTable" class="table">
                        <thead>
                            <tr>
                                <th style="width:30%">Product</th>
                                <th style="width:20%">Unit Price</th>
                                <th style="width:15%">Quantity</th>
                                <th style="width:25%">Amount</th>
                                <th style="width:10%">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Save" onclick="Save();">Add</button>
                <button type="button" class="btn btn-primary" id="Update" style="display:none;" onclick="Edit();">Update</button>
                <button type="button" class="btn btn-default deleteItem" data-dismiss="modal" onclick="ResetItem();">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/SupplierMaster/RetrieDetail.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}

@*modal awal*@
<!--
    
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 1000px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Item Form</h4>
            </div>
            <div class="modal-body">
                <form>
                    <h4>Transaction</h4>
                    <div class="form-group row">
                        <div class="hidden">
                            <label for="Id">Id</label>
                            <input type="text" id="Id" placeholder="Id" disabled="disabled" />
                        </div>
                        <div class="col-md-6">
                            <label for="TransactionCode">Transaction Code</label>
                            <input type="text" class="form-control" id="TransactionCode" placeholder="TransactionCode" />
                        </div>

                        <div class="hidden">
                            <label for="Id">Id</label>
                            <input type="text" id="Id" placeholder="Id" disabled="disabled" />
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-1 text-right">
                                <label for="Item">Item</label>
                            </div>
                            <select id="ProductItem" class="pc form-control" onchange="loadItem(this)">
                                <option>Select</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <div class="col-md-1 text-right">
                                <label for="Price">Price</label>
                            </div>
                            <input type="text" class="form-control" id="Price" placeholder="0" />
                        </div>
                        <div class="col-md-1">
                            <div class="col-md-1 text-right">
                                <label for="Quantity">Qt</label>
                            </div>
                            <input type="text" class="form-control" id="Quantity" placeholder="0" />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label text-left">&nbsp;</label>
                            <input type="button" id="add" value="addList" style="width:80px" class="btn btn-success" />
                            <a href="" class="btn btn-block btn-success" id="AddList" style="width:80px">Add list</a>
                        </div>
                    </div>

                    <table id="detailsTable" class="table">
                        <thead>
                            <tr>
                                <th style="width:30%">Product</th>
                                <th style="width:20%">Unit Price</th>
                                <th style="width:15%">Quantity</th>
                                <th style="width:25%">Amount</th>
                                <th style="width:10%">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Save" onclick="Save();">Add</button>
                <button type="button" class="btn btn-primary" id="Update" style="display:none;" onclick="Edit();">Update</button>
                <button type="button" class="btn btn-default deleteItem" data-dismiss="modal" onclick="ResetItem();">Close</button>
            </div>
        </div>
    </div>
</div>


-->
